/* .fileContainer .deleteImage {
  background-image: url(https://cdn.onlinewebfonts.com/svg/img_96165.png);
  background-position: left 4px top 3px;
  background-repeat: no-repeat;
  background-size: 17px 23px;
  background-color: white;
  overflow: hidden;
  text-indent: -156px;
}

.fileContainer .uploadPicturesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -51px;
  width: 300px;
  height: auto;
} */