.course-left {
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.course-right {
  width: 80vw;
}
.course-div {
  display: flex;

  width: 100%;
}
.category {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  /* justify-content: space-around; */
  /* align-content: space-around; */
}
