.course-left {
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.course-right {
  width: 80vw;
}
.course-div {
  display: flex;

  width: 100vw;
}
.category {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-content: space-around; */
}
